{
  "Server"                     : "iotsp.cisco.com",
  "CACertPath"                 : "data/STAR_iotspdev_io.crt", 
  "VerifyServer"               : "1",
  "DeviceConnector"            : "mqtt/http",
  "gatewayEnabled"             : "0"

  "logFilePath"                : "./iotDeviceSdk.log",
  "loggingLevel"               : "4"
}
